body{ 
    
    font-size: x-large;
    background-color: rgb(253, 253, 15, 0.12);
    margin: auto;
    
}
  
    /*le premere div qui enclobe touts le contenu*/
#centrale{ 
    max-width: 999px;
    width: 100%;
    font-size: x-large;
    background-color: rgb(253, 253, 15, 0.12);
    margin: auto;
    
}
    /*tous c'est qu'est concernat mon navvigature*/

nav{ 
  display: flex;
  justify-content: space-between;
   
}
.ul-li{ 
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
    
}
.ul-li li a { 
    text-decoration: none;
    margin-right: 50px;
    margin-bottom: -40px;
    color: black;
}
nav a:hover{ 
    border-bottom: 3px solid maroon;
    background-color: rgb(253, 253, 10, 0.15);
    color: maroon;
}
#prr00{
    display: flex;
    flex-direction:row;
    margin-top: 0px;
}

.retour{
    background-color: rgb(56, 54, 54, 0.15s);
    width: 950px;
    height: 40px;
    margin-top: -40px;
    color: white;
    font-size: 0.6em;
}
.retour a{
    float: right;
    list-style-type: none;
 
}




    /*Cocernat le section*/
section{ 
    font-size: 15px;
    display: flex;
    margin: auto;

}
article{ 
    margin-right: 0px;
    margin: auto;
    
} 
aside{ 
    margin-right: 70px;
    width: 30%;
    height: 390px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(29, 28, 28, 0.4);
    color: antiquewhite;
    margin: auto;
}
#aside-00{ 
   width: 300px;
   padding: 10px;
   margin: auto;

}
#pp-img{ 
    margin-left: 5px;
    display: flex;
    margin-bottom: 5px;
    
}
#fleche_bulle{ 
    margin: -28px;
    float: left;
    
}
#photo_zozor{ 
    margin: 5px;
    

}
#pp-img img{ 
    justify-content: space-between;
    margin: 5px;
}

    /*le css du footer*/
#prr{
    height: 3px;
}

#footer{ 
    margin-bottom: -40px;
    font-size: 0.8em;
    display: flex;
    justify-content: space-around;
    background: url("images/fond_jaune.png");
    width: 100%;
    margin: auto;
}
#prr{ 
    display: flex;
    flex-direction:row;
    margin-bottom: -20px;
    box-shadow: 0px 3px 4px gray;
}
#imoges{ 
   margin-left: 450px;
   margin-bottom: -22px;
}


#images{ 
    display: flex;
    margin-top: -10px;
   
}

#images img{ 
    border: 1px solid;
   margin: 4px;
   width: 70px;
   height: 80px;
}

#images img:hover{
    border: 3px solid gray;
    box-shadow: 6px 6px 8px gray;
    border-radius: 10px; 
    width: 90px;
    height: 100px;
    margin-left: 10px;
}
/*
.div-mesamies{ 
    margin-left: 40px;
}
*/
.ul-02{ 
    font-size: 0.8em;
    float: left;
    list-style-type: none;
    color: maroon;
    margin-top: -10px;
    margin-right: 60px;
}
.ul-01{ 
    font-size: 0.8em;
    float: left;
    list-style-type: none;
    color: maroon;
    margin-top: -10px;
    margin-left: -50px;
}


.div-11 p{ 
    font-size: 0.7em;
    color: rgb(197, 4, 4);
}


    /* la prtie reponsive au mdoa sccrinn*/

    @media all and (max-width: 1024px)
{
    nav
    {
        width: auto;
        text-align: left;
    }

    .ul-li
    {
        flex-direction: column;
    }

    .sanfr
    {
        display: none;
    }
        
    section
    {
        flex-direction: column;
    }

    #aside-00
    { 
        width: 80%;
        height: auto;
         
    }

    #photo_zozor
    { 
        float: right;
    }

    #fleche_bulle
    { 
        display: none;
            
    }

    #pp-img
    { 
        justify-content: center;
        margin: 5px;
    }

    #images
    { 
        display: flex;
        flex-wrap: wrap;
    }

    #imoges
    { 
        margin-left: 230px;
        margin-bottom: -22px;
    }

    .ul-02
    { 
        margin-left: -50px;
        float: left;
    }

    nav ul
    {
        flex-direction: column;
    }
    
    nav li
    {
        padding-left: 4px;
    }
        
    nav a
    {
        font-size: 1.1em;
    }
        
    nav a:hover
    {
        border-bottom: 0;
    }
    

}
    



